[submodule "Documents/git/StoryTime2610/StoryTime/Assets/ArtisanDream.Tools"]
	path = Documents/git/StoryTime2610/StoryTime/Assets/ArtisanDream.Tools
	url = https://github.com/dealwiththedevil13/ArtisanDream.Tools
